body {
  background-color: #01231f;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.stays-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-top: 350px;
  padding-left: 40px;
}

.room-types {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 60%;
}

.room-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  height: 100%;
  padding-bottom: 100%;
  position: relative;
}

.room-card.selected {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.room-card:hover {
  transform: translateY(-5px);
}

.room-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.room-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}

.room-info h3 {
  margin-top: 0;
  font-size: 16px;
  font-weight: bold;
}

.room-info p {
  margin: 5px 0;
  font-size: 14px;
}

.booking-component {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 30%;
}

.booking-component h2 {
  margin-top: 0;
  font-size: 24px;
  font-weight: bold;
}

.booking-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.price-summary {
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.price-summary .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.price-summary .row.total {
  font-weight: bold;
}

.book-now-btn {
  background-color: #01231f;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.date-picker {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
  width: 100%;
}
